
webdriver_manager
requests
selenium
bs4

elasticsearch
elasticsearch-dsl

ollama
langchain
langchain-community
langchain_ollama
langchain-elasticsearch

pydantic


fastapi

gunicorn
Werkzeug
flask
Flask-SocketIO
flask-openapi3

minio

python-logging-loki
pyjwt
cryptography

neo4j

pyttsx3


