
webdriver_manager
requests
selenium
bs4

elasticsearch
elasticsearch-dsl
langchain
langchain-community
tiktoken

pydantic

fastapi

Werkzeug
flask
Flask-Cors
Flask-SocketIO
flask-openapi3

minio

python-logging-loki
pyjwt
cryptography

neo4j

